- use WinWordCore\App\View
.container-fluid.p-0.h-100(ng-app="pluginApp" ng-controller="pluginCtrl")
    - $desktop_wallpaper = View::getImage('windows.jpg')
    .desktop_layer.w-100(style=['background-image' => "url($desktop_wallpaper)"])
        .ng-view.d-none
    div.fg-white(data-role="appbar" data-expand-point="md")
        ul.app-bar-menu
            li: a.c-default: span.mif-windows.mif-lg
            li: a.c-default: span.mif-search.mif-lg
            each $app in $apps
                - $icon = View::getImage($app['icon'])
                li.border-bottom.border-size-5: a.app.c-default(href="#!{$app['slug']}" data-title="{$app['name']}" data-slug="{$app['slug']}")
                    img(src="$icon")
            li.ml-auto: a.c-default(ng-click="fullscreen()"): span.mif-exit.mif-lg