$zero : 0 !important
$none : none !important

html.windows-mode
  padding: $zero
.windows-mode
  #wpfooter , #wpadminbar , #adminmenuback , #adminmenuwrap , #adminmenumain
    display: $none
  #wpcontent , #wpbody , #wpbody-content , #wpwrap
    height: 100% !important
  #wpcontent , #wpbody-content
    padding: $zero
    margin: $zero
  .app-bar
    top: auto !important
    bottom: 0 !important
    background-color: #1e1f26
  .app-bar-expand
    .app-bar-menu
      width: 100% !important
  .desktop_layer
    background-position: center
    background-size: cover
    background-repeat: no-repeat
    height: calc(100% - 53px)
  .app-bar-menu
    li
      a
        img
          width: 30px
          height: 100%
  .start_metro
    position: absolute
    bottom: 0
    left: 0
    background-color: rgba(30, 31, 38 , 0.9)
  a:focus
    box-shadow: none !important