html.windows-mode {
  padding: 0 !important;
}

.windows-mode #wpfooter,
.windows-mode #wpadminbar,
.windows-mode #adminmenuback,
.windows-mode #adminmenuwrap,
.windows-mode #adminmenumain {
  display: none !important;
}

.windows-mode #wpcontent,
.windows-mode #wpbody,
.windows-mode #wpbody-content,
.windows-mode #wpwrap {
  height: 100% !important;
}

.windows-mode #wpcontent,
.windows-mode #wpbody-content {
  padding: 0 !important;
  margin: 0 !important;
}

.windows-mode .app-bar {
  top: auto !important;
  bottom: 0 !important;
  background-color: #1e1f26;
}

.windows-mode .app-bar-expand .app-bar-menu {
  width: 100% !important;
}

.windows-mode .desktop_layer {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100% - 53px);
}

.windows-mode .app-bar-menu li a img {
  width: 30px;
  height: 100%;
}

.windows-mode .start_metro {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(30, 31, 38, 0.9);
}

.windows-mode a:focus {
  box-shadow: none !important;
}

